idea/
data/videos_160
*.pkl
*.tar
*.mp4
model_*/
models_*/
__pycache__/
.vscode/
custom_data
extracted_frames
memo.py
fs_labels/
total_videos
demo
RAFT/
saved_dicts/
data/
front_labels/
keypoint_npys/
runs/
checkpoints/
